@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Rest Request Test";
}
<h1>Huh?</h1>
<p>Ok, here's how you use it:</p>
<ol>
    <li>Set your application or service to hit <a href="http://restrequesttest.azurewebsites.net/{some-fancy-key}">http://restrequesttest.azurewebsites.net/{some-fancy-key}</a></li>
    <li>Visit <a href="http://restrequesttest.azurewebsites.net/{some-fancy-key}/View">http://restrequesttest.azurewebsites.net/{some-fancy-key}/View</a> in your browser (warning - without /View, you're creating another request!)</li>
    <li>Examine the last 5 requests made!</li>
</ol>
